* {
  font-family: "Inter", sans-serif, Tahoma, Geneva, Verdana;
  box-sizing: border-box;
  margin: 0;
}

div {
  display: block;
  unicode-bidi: isolate;
}

.wrap {
  max-width: 1800px;
  margin: 0 auto;
  padding: 20px 25px;
  background-color: rgb(41, 39, 41);
  display: block;
  unicode-bidi: isolate;
}

.wrap a {
  text-decoration: none;
  color: rgb(221, 221, 221);
  font-size: 1.5rem;
}

.row {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 15px;
}
.row-between {
  justify-content: space-between;
}
.links {
  padding: 15px;
  text-decoration: none;
}
.nav_categories {
  display: flex;
  align-items: center;
  position: relative;
  gap: 20px;
}

main.wrap {
  padding-top: 25px;
}

.footer {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  color: white;
  background-color: rgb(41, 39, 41);
}

input[type="search"] {
  min-width: 230px;
}
input[type="search"],
select {
  background: whitesmoke;
  border: 2px solid rgb(41, 39, 41);
  padding: 10px 15px;
  border-radius: 10px;
  outline: none;
}

.header {
  color: white;
}

.bow.active {
  outline: 2px solid blueviolet;
}

.bow {
  background: rgb(41, 39, 41);
  color: white;
  border: 1px solid rgb(24, 23, 24);
  border-radius: 50px;
  padding: 8px 12px;
  cursor: pointer;
  user-select: none;
  transition: transform 0.5s ease;
}
